{% extends "base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespaceicon}}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading" data-toggle="tooltip" data-placement="left" data-original-title="My initial namespace">{{ usernamespace }}</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Statistics
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="This table shows the total number of database entries for each of the different threat intelligence types. (Intelligence Package, Threat Actors, Campaigns, Indicators, and Observables)"></i>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-borderless">
            <tbody>
                <tr>
                    <td align="center"><h1>{{ packages }}</h1><a href="{% url 'intel:packages' %}">Intelligence Packages</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ threatactors }}</h1><a href="{% url 'intel:threatactors' %}">Threat Actors</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ campaigns }}</h1><a href="{% url 'intel:campaigns' %}">Campaigns</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ ttps }}</h1><a href="{% url 'intel:ttps' %}">Tools, Tactics, and Procedures</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ indicators }}</h1><a href="{% url 'intel:indicators' %}">Indicators</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ observables }}</h1><a href="{% url 'intel:observables' %}">Observables</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endspaceless%}
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Kraut.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">Kraut Base</h2>observe items that recently changed or were added ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent URIs</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="uri_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
                <tr>
                    <th>URI</th>
                    <th>Type</th>
                    <th>Operations</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent IP Addresses</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="ip_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Category</th>
                    <th>Operations</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Hashes</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="hash_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
                <tr>
                    <th>MD5 Hash</th>
                    <th>SHA256 Hash</th>
                    <th>Operations</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


<!-- Hashes Modal -->
<div class="modal fade" id="hashesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select Observable</h4>
            </div>
            <div class="modal-body">
                <table id="hash_observable_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endspaceless%}
{% endblock%}

{% block javascript %}
<script type="text/javascript" language="javascript" class="init">
$(function () {
    $('[data-toggle="popover"]').popover()
});


$('#hashesModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var objectid = button.data('objectid') // Extract info from data-* attributes
  var category = button.data('cat')
  var modal = $(this)
  modal.find('.modal-title').text('Select Observable for Object ID: ' + objectid)
  var HashObservableTable = $('#hash_observable_table').DataTable({
    ordering: false,
    paging: false,
    info: false,
    filter: false,
    processing: true,
    serverSide: true,
    bLengthChange: false,
    oLanguage: {
      sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
    },
    ajax: {
      processing: true,
      url: "/api/objects/"+objectid+"/"+category+"/observables/",
      dataSrc: "results",
      type: "GET",
      dataType: "json"
    },
    columns: [
      {'data': 'id', 'sName': 'ID', 'aTargets': [ 1 ]},
      {
        'data': 'name', 
        'sName': 'Name', 
        'aTargets': [ 2 ],
        'mRender': function (data, type, full) {
            var view_url = "{% url 'intel:observable' observable_id=0 %}".replace(0, Number(full.id));
            return '<a href="'+view_url+'">'+data+'</a>';
        }
      },
    ],
  });
  HashObservableTable.destroy();
});

$(document).ready( function () {
    var HashTable = $('#hash_table').DataTable({
        processing: true,
        serverSide: true,
        bLengthChange: false,
        oLanguage: {
            sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
        },
        ajax: {
            processing: true,
            url: "/api/objects/hashes/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {'data': 'md5_hash', 'sName': 'MD5 Hash', 'aTargets': [ 1 ]},
            {'data': 'sha256_hash', 'sName': 'SHA256 Hash', 'aTargets': [ 2 ]},
            {
                'data': 'id',
                'sName': 'operations',
                'bSortable': false,
                'aTargets': [ 3 ],
                "mRender": function (data, type, full) {
                    return '<div class="btn-group1">' +
                        '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="View" href="#" data-toggle="modal" data-target="#hashesModal" data-objectid="'+data+'" data-cat="FileObjectType">' +
                        '<i class="fa fa-eye"></i>' +
                        '</a>' +
                        '</div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            }
        ],
    });
});

$(document).ready( function () {
    var IPTable = $('#ip_table').DataTable({
        processing: true,
        serverSide: true,
        bLengthChange: false,
        oLanguage: {
            sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
        },
        ajax: {
            processing: true,
            url: "/api/objects/ips/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {'data': 'address_value', 'sName': 'IP Address', 'aTargets': [ 1 ]},
            {'data': 'category', 'sName': 'Category', 'aTargets': [ 2 ]},
            {
                'data': 'id',
                'sName': 'operations',
                'bSortable': false,
                'aTargets': [ 3 ],
                "mRender": function (data, type, full) {
                    return '<div class="btn-group1">' +
                        '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="View" href="#" data-toggle="modal" data-target="#hashesModal" data-objectid="'+data+'" data-cat="AddressObjectType">' +
                        '<i class="fa fa-eye"></i>' +
                        '</a>' +
                        '</div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            }
        ],
    });
});


$(document).ready( function () {
    var URITable = $('#uri_table').DataTable({
        processing: true,
        serverSide: true,
        bLengthChange: false,
        oLanguage: {
            sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
        },
        ajax: {
            processing: true,
            url: "/api/objects/domains/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {
                'data': 'short_value',
                'sName': 'URI', 
                'aTargets': [ 1 ],
                "mRender": function (data, type, full) {
                    return '<div rel="tooltip" data-placement="top" data-original-title="'+full.uri_value+'">'+data+'</div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("div", nTd).tooltip();
                },
            },
            {'data': 'uri_type', 'sName': 'URI Type', 'aTargets': [ 2 ]},
            {
                'data': 'id',
                'sName': 'operations',
                'bSortable': false,
                'aTargets': [ 3 ],
                "mRender": function (data, type, full) {
                    return '<div class="btn-group1">' +
                        '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="View" href="#" data-toggle="modal" data-target="#hashesModal" data-objectid="'+data+'" data-cat="URIObjectType">' +
                        '<i class="fa fa-eye"></i>' +
                        '</a>' +
                        '</div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            }
        ],
    });
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock%}
