{% extends "base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <!-- <img src="#" height="64" class="media-object"> -->
        </div>
        <div class="media-body">
            <h2 class="media-heading">PLACEHOLDER: User Namespace</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Statistics
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="This table shows the total number of database entries for each of the different threat intelligence types. (Intelligence Package, Threat Actors, Campaigns, Indicators, and Observables)"></i>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-borderless">
            <tbody>
                <tr>
                    <td align="center"><h1>{{ packages }}</h1><a href="{% url 'intel:packages' %}">Intelligence Packages</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ threatactors }}</h1><a href="{% url 'intel:threatactors' %}">Threat Actors</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ campaigns }}</h1><a href="{% url 'intel:campaigns' %}">Campaigns</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ indicators }}</h1><a href="{% url 'intel:indicators' %}">Indicators</a></td>
                </tr>
                <tr>
                    <td align="center"><h1>{{ observables }}</h1><a href="{% url 'intel:observables' %}">Observables</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endspaceless%}
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Kraut.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">Kraut Base</h2>observe items that recently changed or were added ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Hashes</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
        <table id="hash_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
            <thead>
                <tr>
                    <th>MD5 Hash</th>
                    <th>SHA256 Hash</th>
                    <th>Operations</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endspaceless%}
{% endblock%}

{% block javascript %}
<script type="text/javascript" language="javascript" class="init">
$(function () {
    $('[data-toggle="popover"]').popover()
});

$(document).ready( function () {
    var HashTable = $('#hash_table').DataTable({
        processing: true,
        serverSide: true,
        bLengthChange: false,
        oLanguage: {
            sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
        },
        ajax: {
            processing: true,
            url: "/api/objects/hashes/.json",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {'data': 'md5_hash', 'sName': 'MD5 Hash', 'aTargets': [ 1 ]},
            {'data': 'sha256_hash', 'sName': 'SHA256 Hash', 'aTargets': [ 2 ]},
            {
                'data': 'id',
                'sName': 'operations',
                'bSortable': false,
                'aTargets': [ 3 ],
                "mRender": function (data, type, full) {
                    return '<div class="btn-group1">' +
                        '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="View" href="#">' +
                        '<i class="fa fa-eye"></i>' +
                        '</a>' +
                        '</div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            }
        ],
    });
});



</script>
{% endblock%}
