{% extends "base_single.html" %}
{% load staticfiles %}
{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Incident.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">Incidents</h2>browse all recorded incident information ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<table id="incident_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <tr>
            <th>Incident Number</th>
            <th>Title</th>
            <th>Creation Time</th>
            <th>Last Modified</th>
            <th>Status</th>
            <th>Category</th>
            <th>Severity</th>
            <th>Operations</th>
        </tr>
    </thead>
</table>
{% endspaceless %}
{% endblock%}
{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
        var pTable = $('#incident_table').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
            },
            order: [[ 2, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/incidents/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'incident_number', 
                    'sName': 'incident_number', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'incidents:view_incident' incident_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'"><span class="badge progress-bar-success">'+data+'</span></a>';
                    },
                },
                {
                    'data': 'title', 'sName': 'title', 'aTargets': [ 2 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'incidents:view_incident' incident_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    },
                },
                {'data': 'creation_time', 'sName': 'creation_time', 'aTargets': [ 3 ]},
                {'data': 'last_modified', 'sName': 'last_modified', 'aTargets': [ 4 ]},
                {
                    'data': 'status', 
                    'sName': 'status', 
                    'aTargets': [ 5 ],
                    'mRender': function (data, type, full) {
                        if(data=='Open') {
                            return '<span class="badge progress-bar-danger">'+data+'</span>';
                        } else {
                            return '<span class="label progress-bar-success">'+data+'</span>';
                        }
                    },
                },
                {'data': 'category', 'sName': 'category', 'aTargets': [ 6 ]},
                {'data': 'severity', 'sName': 'severity', 'aTargets': [ 7 ]},
                {
                    "data": 'id',
                    'sName': 'operations',
                    'bSortable': false,
                    'aTargets': [ 8 ],
                    "mRender": function (data, type, full) {
                        var view_url = "{% url 'incidents:view_incident' incident_id=0 %}".replace(0, Number(data));
                        var delete_url = "{% url 'incidents:delete_incident' incident_id=0 %}".replace(0, Number(data));
                        return '<div class="btn-group1">' +
                            '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="View" href="'+view_url+'">' +
                            '<i class="fa fa-eye"></i>' +
                            '</a>' +
                            '<a class="btn btn-small confirm" rel="tooltip" data-placement="bottom" data-original-title="Remove" data-href="'+delete_url+'" data-display="'+full.title+'" href="#">' +
                            '<i class="fa fa-remove"></i>' +
                            '</a>' +
                            '</div>';
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $("a", nTd).tooltip();
                    }
                }
            ],
        });
    });
	$(document).on("click", ".confirm", function(e) {
        e.preventDefault();
        var title = $(this).attr('data-display');
        var location = $(this).attr('data-href');
        bootbox.confirm('Are you sure?<br/>(Delete: '+title+')', function(confirmed) {
            if(confirmed)
            {
                window.location.replace(location);
            }
        });
    });
</script>
{% endblock%}
