{% extends "base.html" %}
{% load staticfiles %}
{% load split_at %}
{% block header %}
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.addimage {
  margin-right:10px;
}

</style>
{% endblock %}

{% block sidebar %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespaceicon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ incident.incident_number }}</h2>Side Panel
        </div>
    </div>
</div>
{% if num_affected_assets > 0 %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Affected Assets</h3>
    </div>
    <div id="tree-container" class="panel-body">
    </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Incident.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ incident.title }}</h2>Incident: {{ incident.incident_number }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if incident %}
{% spaceless %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ incident.title }}<i id="toggle-commentsidebar" class="fa fa-comment-o pull-right" data-toggle="tooltip" data-placement="top" data-original-title="add comment"></i><i id="toggle-navsidebar" class="fa fa-pencil-square-o pull-right" data-toggle="tooltip" data-placement="top" data-original-title="edit meta-information"></i></h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Incident Number</b></td>
                <td>{{ incident.incident_number }}</td>
                <td align="right"><b>Severity</b></td>
                <td>{{ severity }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ incident.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ incident.last_modified }}</td>
            </tr>
            <tr>
                <td align="right"><b>Status</b></td>
                <td>{{ incident.status }}</td>
                <td align="right"><b>Category</b></td>
                <td>{{ incident.category }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <pre class="pre-scrollable wrapdiv">{{ incident.description }}</pre>
    </div>
</div>
<div id="navsidebar" class="navsidebar navsidebar-right">
  <div id="navsidebar-wrapper" class="navsidebar-wrapper">
    <header class="navsidebar-header"><i class="fa fa-pencil-square-o"></i>&nbsp;Kraut Editor</header>
    <nav class="navsidebar-menu">
        <form action="{% url 'incidents:update_incident_header' incident_id=incident_id %}" method="POST">
        {% csrf_token %}
            <ul>
                <li>Title</li>
                <li><input name="incident_title" class="form-control" type="text" value="{{ incident.title }}"></li>
                <li>Severity<br/></li>
                <li>
                <select class="form-control" name="incident_severity">
                    {% for sev in severities %}
                        {% if severity == sev %}
                            <option selected>{{ sev }}</option>
                        {% else %}
                            <option>{{ sev }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </li>
                <li>Description</li>
                <li><textarea class="form-control" name="incident_description" rows="13">{{ incident.description }}</textarea></li>
                <li><button type="submit" class="btn btn-primary close-navsidebar">Submit</button></li>
            </ul>
            </form>
    </nav>
  </div>
</div>
<div id="commentsidebar" class="navsidebar navsidebar-right">
  <div id="commentsidebar-wrapper" class="commentsidebar-wrapper">
    <header class="navsidebar-header"><i class="fa fa-comment-o"></i>&nbsp;Kraut Commentor</header>
    <nav class="navsidebar-menu">
        <form action="{% url 'incidents:comment_incident' incident_id=incident_id %}" method="POST">
        {% csrf_token %}
            <ul>
                <li><div class="form-group"><label for="commentAuthor">Author:</label><div>{{ request.user  }}</div></div></li>
                <li><div class="form-group"><label for="incidentComment">Enter Comment:</label>{{ commentform.ctext }}</div></li>
                <li><button type="submit" class="btn btn-primary close-navsidebar">Comment</button></li>
            </ul>
        </form>
    </nav>
  </div>
</div>
{% endspaceless %}

<div class="pull-right">
    <a class="btn btn-primary btn-sm" el="tooltip" data-placement="top" data-original-title="View" href="#" data-toggle="modal" data-target="#addIHModal" data-objectid="{{ incident.id }}">
        <i class="fa fa-plus-circle fa-sm"></i> Add Incident Handler
    </a>
    <a class="btn btn-primary btn-sm" el="tooltip" data-placement="top" data-original-title="View" href="#" data-toggle="modal" data-target="#addCOModal" data-objectid="{{ incident.id }}">
        <i class="fa fa-plus-circle fa-sm"></i> Add Incident Contact
    </a>
    <a class="btn btn-primary btn-sm" el="tooltip" data-placement="top" data-original-title="View" href="#" data-toggle="modal" data-target="#addtaskModal" data-objectid="{{ incident.id }}">
        <i class="fa fa-plus-circle fa-sm"></i> Add Task
    </a>
<a class="btn btn-primary btn-sm" href="{% url 'incidents:add_task' incident_id=incident.id %}"><i class="fa fa-plus-circle fa-sm"></i> Add Asset</a>
</div><br/><br/>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Incident Information
        </h3>
    </div>
    <div class="panel-body">
<div role="tabpanel">
  {% spaceless %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if num_incident_handlers > 0 %}
    <li role="presentation" {% if tab == 'incident_handler' %}class="active"{% endif %}>
        <a href="#incident_handler" aria-controls="incident_handler" role="tab" data-toggle="tab">
            <i class="fa fa-link"></i>&nbsp;&nbsp;Incident Handler
            <span class="badge">{{ num_incident_handlers }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_incident_contacts > 0 %}
    <li role="presentation" {% if tab == 'incident_contacts' %}class="active"{% endif %}>
        <a href="#incident_contacts" aria-controls="incident_contacts" role="tab" data-toggle="tab">
            <i class="fa fa-link"></i>&nbsp;&nbsp;Incident Contacts
            <span class="badge">{{ num_incident_contacts }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_incident_tasks > 0 %}
    <li role="presentation" {% if tab == 'incident_tasks' %}class="active"{% endif %}>
        <a href="#incident_tasks" aria-controls="incident_tasks" role="tab" data-toggle="tab">
            <i class="fa fa-link"></i>&nbsp;&nbsp;Incident Tasks
            <span class="badge">{{ num_incident_tasks }}</span>
        </a>
    </li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- INCIDENT HANDLER -->
    <div role="tabpanel" class="tab-pane {% if tab == 'incident_handler' %}active{% endif %}" id="incident_handler">
        <br/>
        <table id="handler_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>E-Mail</th><th>Phone</th><th></th></tr>
            </thead>
            <tbody>
                {% for ha in incident.incident_handler.all %}
                    <tr>
                        <td>{{ ha.firstname }} {{ ha.lastname }}</td>
                        <td>{{ ha.email }}</td>
                        <td>{{ ha.phone }}</td>
                        <td><a href="{% url 'incidents:remove_handler_incident' incident_id=incident_id handler_id=ha.id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="remove incident handler" class="fa fa-remove pull-right"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- INCIDENT CONTACT -->
    <div role="tabpanel" class="tab-pane {% if tab == 'incident_contacts' %}active{% endif %}" id="incident_contacts">
        <br/>
        <table id="contact_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>E-Mail</th><th>Phone</th><th></th></tr>
            </thead>
            <tbody>
                {% for co in incident.contacts.all %}
                    <tr>
                        <td>{{ co.firstname }} {{ co.lastname }}</td>
                        <td>{{ co.email }}</td>
                        <td>{{ co.phone }}</td>
                        <td><a href="{% url 'incidents:remove_contact_incident' incident_id=incident_id contact_id=co.id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="remove incident contact" class="fa fa-remove pull-right"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- INCIDENT TASK -->
    <div role="tabpanel" class="tab-pane {% if tab == 'incident_tasks' %}active{% endif %}" id="incident_tasks">
        <br/>
        <table id="task_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Status</th><th>Short Description</th><th></th></tr>
            </thead>
            <tbody>
                {% for t in incident.tasks.all %}
                <tr>
                    <td>{{ t.name }}</td>
                    <td>{% if  t.get_status_display == 'Open' %}<span class="badge progress-bar-danger">Open</span>{% else %}<span class="label progress-bar-success">{{ t.get_status_display }}</span>{% endif %}</td>
                    <td>{{ t.description }}</td>
                    <td>
                        <a href="{% url 'incidents:remove_task_incident' incident_id=incident_id task_id=t.id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="remove task" class="fa fa-trash pull-right"></i></a>
                        <a href="{% url 'incidents:abort_task_incident' incident_id=incident_id task_id=t.id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="cancel task" class="fa fa-remove pull-right"></i></a>
                        <a href="{% url 'incidents:resolve_task_incident' incident_id=incident_id task_id=t.id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="close task" class="fa fa-check pull-right"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div> <!-- END TAB CONTENT -->
</div>
</div>
</div>

{% if comments %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-comment-o"></i>&nbsp;Comments</h3>
    </div>
    <div class="panel-body">
       <table id="comment_table" class="table table-condensed" style="font-size: 0.9em;">
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>Author:</td><td>{{ comment.author }}</td><td>Created:</td>
                        <td>
                            {{ comment.creation_time }}
                            {% if comment.author == request.user %}
                                <a href="{% url 'incidents:delete_comment_incident' incident_id=incident_id comment_id=comment.id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="delete comment" class="fa fa-remove pull-right"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><pre class="pre-scrollable wrapdiv">{{ comment.ctext }}</pre></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<!-- Modal to add an existing incident handler to the incident -->
<div class="modal bs-example-modal-lg" id="addIHModal" tabindex="-1" role="dialog" aria-labelledby="addIHLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addIHLabel">Add Incident Handler</h4>
            </div>
                <form method="post" action="{% url 'incidents:add_handler_incident' incident_id=incident_id %}" id="post-handler">
                <div class="modal-body">
                    {% csrf_token %}
                    <table id="ih_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Add</th><th>Lastname</th><th>Firstname</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
        </div>
    </div>
</div>
<!-- Modal to add an existing contact to the incident -->
<div class="modal bs-example-modal-lg" id="addCOModal" tabindex="-1" role="dialog" aria-labelledby="addCOLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addCOLabel">Add Incident Contact</h4>
            </div>
                <form method="post" action="{% url 'incidents:add_contact_incident' incident_id=incident_id %}" id="post-contact">
                <div class="modal-body">
                    {% csrf_token %}
                    <table id="co_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Add</th><th>Lastname</th><th>Firstname</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
        </div>
    </div>
</div>
<!-- Modal to add a task to the incident -->
<div class="modal bs-example-modal-lg" id="addtaskModal" tabindex="-1" role="dialog" aria-labelledby="addtaskLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addtaskLabel">Add Incident Task</h4>
            </div>
                <form method="post" action="{% url 'incidents:add_task' incident_id=incident_id %}" id="post-task">
                <div class="modal-body">
                    {% csrf_token %}
                    <table id="ttask_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Add</th><th>Name</th><th>Description</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
        </div>
    </div>
</div>
<!-- Modal to add an existing ttp to the package -->
<div class="modal bs-example-modal-lg" id="addTTPModal" tabindex="-1" role="dialog" aria-labelledby="addTTPLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTTPLabel">Add Tools, Tactics, and Procedures</h4>
            </div>
                <div class="modal-body">
                    <table id="ttp_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>
<!-- Modal to add an existing indicator to the package -->
<div class="modal bs-example-modal-lg" id="addINModal" tabindex="-1" role="dialog" aria-labelledby="addINLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addINLabel">Add Indicator</h4>
            </div>
                <div class="modal-body">
                    <table id="indicator_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>
<!-- Modal to add an existing observable to the package -->
<div class="modal bs-example-modal-lg" id="addOBModal" tabindex="-1" role="dialog" aria-labelledby="addOBLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addOBLabel">Add Observable</h4>
            </div>
                <div class="modal-body">
                    <table id="observable_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>

{% endspaceless %}
{% endif %}
{% endblock%}

{% block javascript%}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
    var cTable = $('#ih_table').DataTable({
        processing: true,
        info: false,
        bLengthChange: false,
        serverSide: true,
        oLanguage: {
            sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
        },
        order: [[ 1, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/incident/{{ incident.id }}/handlers/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {
                "data": 'id', 
                'sName': 'operations',
                'bSortable': false,
                'aTargets': [ 1 ],
                "mRender": function (data, type, full) {
                    return '<div class="checkbox"><input type="checkbox" id="HandlerCheckBox_'+data+'" form="post-handler" value="'+data+'"></div>'
                }
            },
            {'data': 'lastname', 'sName': 'lastname', 'aTargets': [ 2 ]},
            {'data': 'firstname', 'sName': 'firstname', 'aTargets': [ 3 ]},
        ],
    });
});

$(document).ready( function () {
    var ttTable = $('#ttask_table').DataTable({
        processing: true,
        info: false,
        bLengthChange: false,
        serverSide: true,
        oLanguage: {
            sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
        },
        order: [[ 1, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/incident/tasks/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {
                "data": 'id',
                'sName': 'operations',
                'bSortable': false,
                'aTargets': [ 1 ],
                "mRender": function (data, type, full) {
                    return '<div class="checkbox"><input type="checkbox" id="TaskCheckBox_'+data+'" form="post-task" value="'+data+'"></div>'
                }
            },
            {'data': 'name', 'sName': 'Name', 'aTargets': [ 2 ]},
            {'data': 'description', 'sName': 'Description', 'aTargets': [ 3 ]},
        ],
    });
});

$(document).ready( function () {
    var cTable = $('#co_table').DataTable({
        processing: true,
        info: false,
        bLengthChange: false,
        serverSide: true,
        oLanguage: {
            sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
        },
        order: [[ 1, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/incident/{{ incident.id }}/contacts/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {
                "data": 'id',
                'sName': 'operations',
                'bSortable': false,
                'aTargets': [ 1 ],
                "mRender": function (data, type, full) {
                    return '<div class="checkbox"><input type="checkbox" id="ContactCheckBox_'+data+'" form="post-contact" value="'+data+'"></div>'
                }
            },
            {'data': 'lastname', 'sName': 'lastname', 'aTargets': [ 2 ]},
            {'data': 'firstname', 'sName': 'firstname', 'aTargets': [ 3 ]},
        ],
    });
});

$(function () {
    $('[data-toggle="popover"]').popover()
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function() {
  $('#navsidebar').simplerSidebar({
    opener: '#toggle-navsidebar',
    sidebar: {
      align: 'right',
      width: 560,
      closingLinks: '.close-navsidebar',
      top: 60,
      animation: {
        duration: 10,
      }
    }
  });
});

$(document).ready(function() {
  $('#commentsidebar').simplerSidebar({
    opener: '#toggle-commentsidebar',
    sidebar: {
      align: 'right',
      width: 560,
      closingLinks: '.close-commentsidebar',
      top: 60,
      animation: {
        duration: 10,
      }
    }
  });
});

$('#post-handler').submit(function(){
    $('input[type=checkbox]').each(function () {
        if (this.checked) {
            $('<input />').attr('type', 'hidden')
                .attr('name', this.id)
                .attr('value', this.value)
                .appendTo('#post-handler');
        }
    });
});

$('#post-task').submit(function(){
    $('input[type=checkbox]').each(function () {
        if (this.checked) {
            $('<input />').attr('type', 'hidden')
                .attr('name', this.id)
                .attr('value', this.value)
                .appendTo('#post-task');
        }
    });
});

$('#post-contact').submit(function(){
    $('input[type=checkbox]').each(function () {
        if (this.checked) {
            $('<input />').attr('type', 'hidden')
                .attr('name', this.id)
                .attr('value', this.value)
                .appendTo('#post-contact');
        }
    });
});
</script>
{% endblock%}
