{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Incident.png' %}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">Incidents</h2>browse all recorded incident information ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% endspaceless %}
{% endblock%}
