{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Taxii.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">Hail a Taxii</h2>manage TAXII collections ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<br/>
<table id="collection_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <th>Name</th>
        <th>Subscribed</th>
        <th>Poll Period</th>
        <th>Last Poll</th>
        <th>Operations</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock%}

{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
        var sTable = $('#collection_table').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: { 
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>", 
            },
            order: [[ 1, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/taxii/collections/.json",
                dataSrc: "results", type: "GET", dataType: "json"
            },
            columns: [
                {'data': 'name', 'sName': 'name', 'aTargets': [ 1 ]},
                {
                    'data': 'subscribed', 
                    'sName': 'host', 
                    'aTargets': [ 2 ],
                    "mRender": function (data, type, full) {
                        return '<span class="label label-danger label-pill">'+data+'</span';
                    }
                },
                {'data': 'poll_period', 'sName': 'path', 'aTargets': [ 3 ]},
                {'data': 'last_modified', 'sName': 'last poll', 'aTargets': [ 4 ]},
                {
                    "data": 'id',
                    'sName': 'operations',
                    'bSortable': false,
                    'aTargets': [ 5 ],
                    "mRender": function (data, type, full) {
                        var poll_now_url = "{% url 'sharing:poll_now' collection_id=0 %}".replace(0, Number(data));
                        var return_text = '<div class="btn-group1">'
                        if (full.subscribed) {
                        return_text = return_text +
                            '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="Unsubscribe" href="#">' +
                            '<i class="fa fa-close"></i>' +
                            '</a> ';
                        } else {
                        return_text = return_text +
                            '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="Subscribe" href="#">' +
                            '<i class="fa fa-check"></i>' +
                            '</a> ';
                        }
                        return_text = return_text +
                            '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="Poll Now" href="'+poll_now_url+'">' +
                            '<i class="fa fa-refresh"></i>' +
                            '</a> ';
                        return_text = return_text + '</div>';
                        return return_text;
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $("a", nTd).tooltip();
                    }
                }
            ],
        });
    });
</script>
{% endblock %}
