{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Taxii.png' %}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">Hail a Taxii</h2>discover and subscribe to different TAXII services ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% endblock%}
