{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Taxii.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">Hail a Taxii</h2>discover and subscribe to different TAXII services ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div id="create_results"></div> <!-- errors go here -->
<br/>
<form method="post" id="post-discovery" action="">
    {% csrf_token %}
    <div class="form-group">
        {{ form.url.errors }}
        <label for="discoveryURL">{{ form.url.label }}</label>
        {{ form.url }}
    </div>
    <button type="submit" class="btn btn-default">Discover</button>
</form>
<br/>
<div id='hide_datatable'>
<table id="feed_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <th>
            Name
        </th>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

{% endblock%}

{% block javascript %}
<script type="text/javascript" language="javascript" class="init">
    
// Submit post on submit
$('#post-discovery').on('submit', function(event){
    event.preventDefault();
    list_feeds_post();
});

function list_feeds_post() {
    $.ajax({
        url : "/api/taxii/feed/information/",
        type : "POST",
        data : {
            url : $('#discoveryURL').val(),
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success : function(json) {
            $('#discoveryURL').val('');
            var dataTable = $('#feed_table').dataTable();
            dataTable.fnClearTable(this);
            dataTable.fnAddData(json.results);
            dataTable.fnDraw();
            $('#hide_datatable').show();
        },
        error : function(xhr,errmsg,err) {
            $('#create_results').html("<div class='alert alert-danger alert-dismissible' role='alert'>Oops! We have encountered an error: "+errmsg+
                    " <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
};


$(document).ready( function () {
        $('#hide_datatable').hide();
        var pTable = $('#feed_table').DataTable({
            processing: false,
            serverSide: false,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
            },
            data: "",
            columns: [
                {'data': 'name', 'sName': 'name', 'aTargets': [ 1 ]},
            ],
        });
    });

</script>
{% endblock %}
