{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Taxii.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">Hail a Taxii</h2>discover and subscribe to different TAXII services ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div id="create_results"></div> <!-- errors go here -->
<br/>
<form method="post" id="post-discovery" action="">
    {% csrf_token %}
    <div class="form-group">
        {{ form.url.errors }}
        <label for="discoveryURL">{{ form.url.label }}</label>
        {{ form.url }}
    </div>
    <div class="form-group">
        <label for="thelist">Or select stored server</label>
        <select name="thelist" onChange="combo(this, 'discoveryURL')" onMouseOut="comboInit(this, 'discoveryURL')" class="form-control">
            {% for server in servers %}
            <option value="{{server.protocol}}://{{server.host}}:{{server.port}}{{server.path}}">{{ server.name }} ({{server.protocol}}://{{server.host}}:{{server.port}}{{server.path}})</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Discover</button>
</form>
<br/>
<div id='hide_datatable'>
<table id="feed_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <th>Name</th>
        <th>Operations</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

{% endblock%}

{% block javascript %}
<script type="text/javascript" language="javascript" class="init">
    
// Submit post on submit
$('#post-discovery').on('submit', function(event){
    event.preventDefault();
    if($('#discoveryURL').val()!='') {
        list_feeds_post();
    } else {
        $('#create_results').html("<div class='alert alert-danger alert-dismissible' role='alert'>No URL provided!<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
    };
});

function list_feeds_post() {
    $.ajax({
        url : "/api/taxii/feed/information/",
        type : "POST",
        data : {
            url : $('#discoveryURL').val(),
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success : function(json) {
            var dataTable = $('#feed_table').dataTable();
            dataTable.fnClearTable(this);
            dataTable.fnAddData(json.results);
            dataTable.fnDraw();
            $('#hide_datatable').show();
        },
        error : function(xhr,errmsg,err) {
            $('#create_results').html("<div class='alert alert-danger alert-dismissible' role='alert'>Oops! We have encountered an error: "+errmsg+
                    " <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
};

function post(path, params, method) {
    method = method || "post";
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
        }
    }
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "csrfmiddlewaretoken");
    hiddenField.setAttribute("value", "{{ csrf_token }}");
    form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();
}

$(document).ready( function () {
        $('#hide_datatable').hide();
        var pTable = $('#feed_table').DataTable({
            processing: false,
            serverSide: false,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
            },
            data: "",
            columns: [
                {'data': 'name', 'sName': 'name', 'aTargets': [ 1 ]},
                {
                    'data': 'name',
                    'sName': 'operations',
                    'aTargets': [ 2 ],
                    "mRender": function (data, type, full) {
                        return '<div class="btn-group1">' +
                            '<a href="#" onClick="post(\'/sharing/poll/\', {url: \'pollURL\', service: \'pollService\'})" class="btn btn-small" rel="tooltip" data-placement="right" data-original-title="Poll Feed">'.replace('pollService', data).replace('pollURL', $('#discoveryURL').val()) +
                            '<i class="fa fa-cloud-download"></i>' +
                            '</a>' +
                            '</div>';
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $("a", nTd).tooltip();
                    }
                }
            ],
        });
    });


function comboInit(thelist)
{
  theinput = document.getElementById('discoveryURL');  
  var idx = thelist.selectedIndex;
  var content = thelist.options[idx].value;
  if(theinput.value == "")
    theinput.value = content;   
}

function combo(thelist, theinput)
{
  theinput = document.getElementById('discoveryURL');  
  var idx = thelist.selectedIndex;
  //var content = thelist.options[idx].innerHTML;
  var content = thelist.options[idx].value;
  theinput.value = content; 
}

</script>
{% endblock %}
