{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Taxii.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">Hail a Taxii</h2>manage TAXII servers ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<br/>
<table id="server_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <th>Name</th>
        <th>Host</th>
        <th>Path</th>
        <th>Operations</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addServerModal"><i class="fa fa-server fa-sm"></i> Add Server</a>


<div class="modal bs-example-modal-lg" id="addServerModal" tabindex="-1" role="dialog" aria-labelledby="addserverlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addserverlabel">Add TAXII Server</h4>
            </div>
            <form method="post" action="" id="post-server">
                <div class="modal-body">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="oldid" id="post_server_oldid" value="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}

{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
        var sTable = $('#server_table').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: { 
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>", 
            },
            order: [[ 1, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/taxii/servers/.json",
                dataSrc: "results", type: "GET", dataType: "json"
            },
            columns: [
                {'data': 'name', 'sName': 'name', 'aTargets': [ 1 ]},
                {'data': 'host', 'sName': 'host', 'aTargets': [ 2 ]},
                {'data': 'path', 'sName': 'path', 'aTargets': [ 3 ]},
                {
                    "data": 'id',
                    'sName': 'operations',
                    'bSortable': false,
                    'aTargets': [ 5 ],
                    "mRender": function (data, type, full) {
                        var delete_url = "{% url 'sharing:delete_server' server_id=0 %}".replace(0, Number(data));
                        return '<div class="btn-group1">' +
                            '<a class="btn btn-small" rel="tooltip" data-placement="left" data-original-title="Edit" onclick="showEdit(\''+full.name+'\', \''+full.host+'\', \''+full.path+'\', \''+data+'\')">' +
                            '<i class="fa fa-edit"></i>' +
                            '</a> ' +
                            '<a class="btn btn-small confirm" rel="tooltip" data-placement="bottom" data-original-title="Remove" data-href="'+delete_url+'" data-display="'+full.name+'" href="#">' +
                            '<i class="fa fa-remove"></i>' +
                            '</a>' +
                            '</div>';
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $("a", nTd).tooltip();
                    }
                }
            ],
        });
    });

    $(document).on("click", ".confirm", function(e) {
        e.preventDefault();
        var title = $(this).attr('data-display');
        var location = $(this).attr('data-href');
        bootbox.confirm('Are you sure?<br/>(Delete: '+title+')', function(confirmed) {
            if(confirmed)
            {
                window.location.replace(location);
            }
        });
    });

    function showEdit(name, host, path, id) {
        $('#post_server_name').val(name);
        $('#post_server_host').val(host);
        $('#post_server_path').val(path);
        $('#post_server_oldid').val(id);
        console.log(id)
        $('#addServerModal').modal('show');
    }
</script>
{% endblock %}
