{% load staticfiles %}
{% spaceless %}
<ul class="nav navbar-nav">
    {% for item in menu %}
        {% if item.separator %}<li>------------</li>{% endif %}
        {% if item.url in request.path and request.path != '/' and item.url != '/' or item.url = request.path %}
            <li class="active">
            {% if item.children|length > 0 %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa {{ item.icon }}"></i>&nbsp;{{ item.title }}
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% for child in item.children %}
                    {% if child.separator %}<li style="border-bottom: 1px solid #000;"></li>{% endif %}
                    {% if child.url == request.path %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="{{ child.url }}">{% if child.image %}<img src="{% static child.image %}" height="16" style="vertical-align:middle">{% endif %}&nbsp;{{ child.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <a href="{{ item.url }}"><i class="fa {{ item.icon }}"></i>&nbsp;{{ item.title }}</a>
            {% endif %}
            </li>
        {% else %}
            <li>
            {% if item.children|length > 0 %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa {{ item.icon }}"></i>&nbsp;{{ item.title }}
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% for child in item.children %}
                    {% if child.separator %}<li style="border-bottom: 1px solid #ccc;"></li>{% endif %}
                    <li>
                        <a href="{{ child.url }}">{% if child.image %}<img src="{% static child.image %}" height="16" style="vertical-align:middle">{% endif %}&nbsp;{{ child.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <a href="{{ item.url }}"><i class="fa {{ item.icon }}"></i>&nbsp;{{ item.title }}</a>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endspaceless %}
