{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
.wrapdiv {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}
{% endblock %}
{% block sidebar %}
{% spaceless %}
{% if campaign %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespace_icon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ campaign.namespace }}</h2>Side Panel
        </div>
    </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Campaign.png' %}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ campaign.name }}</h2>Campaign ID: {{ campaign_id }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if campaign %}
{% spaceless %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ campaign.name }}</h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Namespace</b></td>
                <td>{{ campaign.namespace }}</td>
                <td align="right"><b>Status</b></td>
                <td>{{ campaign.status }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ campaign.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ campaign.last_modified }}</td>
            </tr>
            <tr>
                <td align="right"><b>Confidence</b></td>
                <td><span class="label label-{{ confidence_color }}">{{ confidence }}</span></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <pre class="pre-scrollable wrapdiv">{{ campaign.description }}</pre>
    </div>
</div>
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if num_indicators > 0 %}
    <li role="presentation" {% if tab == 'indicators' %}class="active"{% endif %}>
        <a href="#indicators" aria-controls="indicators" role="tab" data-toggle="tab">
            <img src="{% static 'images/Indicator.png' %}" height="32">&nbsp;&nbsp;Indicators
            <span class="badge">{{ num_indicators }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_campaigns > 0 %}
    <li role="presentation" {% if tab == 'campaigns' %}class="active"{% endif %}>
        <a href="#campaigns" aria-controls="campaigns" role="tab" data-toggle="tab">
            <img src="{% static 'images/Campaign.png' %}" height="32">&nbsp;&nbsp;Campaigns
            <span class="badge">{{ num_campaigns }}</span>
        </a>
    </li>
    {% endif %}
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- INDICATOR -->
    <div role="tabpanel" class="tab-pane {% if tab == 'indicators' %}active{% endif %}" id="indicators">
        <br/>
        <table id="indicators_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th><th>Confidence</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- CAMPAIGNS -->
    <div role="tabpanel" class="tab-pane {% if tab == 'campaigns' %}active{% endif %}" id="campaigns">
        <br/>
        <table id="campaigns_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endspaceless %}
{% endif %}
{% endblock %}
