{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
.wrapdiv {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}
{% endblock %}
{% block sidebar %}
{% spaceless %}
{% if campaign %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespace_icon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ campaign.namespace }}</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Associated Campaigns
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all campaigns that are associated with the currently viewed campaign."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="associated_campaigns_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Related Indicators
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all indicators that are related to the currently viewed campaign."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="related_indicators_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Campaign.png' %}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ campaign.name }}</h2>Campaign ID: {{ campaign_id }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if campaign %}
{% spaceless %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ campaign.name }}</h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Namespace</b></td>
                <td>{{ campaign.namespace }}</td>
                <td align="right"><b>Status</b></td>
                <td>{{ campaign.status }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ campaign.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ campaign.last_modified }}</td>
            </tr>
            <tr>
                <td align="right"><b>Confidence</b></td>
                <td><span class="label label-{{ confidence_color }}">{{ confidence }}</span></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <pre class="pre-scrollable wrapdiv">{{ campaign.description }}</pre>
    </div>
</div>
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if num_indicators > 0 %}
    <li role="presentation" {% if tab == 'indicators' %}class="active"{% endif %}>
        <a href="#indicators" aria-controls="indicators" role="tab" data-toggle="tab">
            <img src="{% static 'images/Indicator.png' %}" height="32">&nbsp;&nbsp;Indicators
            <span class="badge">{{ num_indicators }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_campaigns > 0 %}
    <li role="presentation" {% if tab == 'campaigns' %}class="active"{% endif %}>
        <a href="#campaigns" aria-controls="campaigns" role="tab" data-toggle="tab">
            <img src="{% static 'images/Campaign.png' %}" height="32">&nbsp;&nbsp;Campaigns
            <span class="badge">{{ num_campaigns }}</span>
        </a>
    </li>
    {% endif %}
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- INDICATOR -->
    <div role="tabpanel" class="tab-pane {% if tab == 'indicators' %}active{% endif %}" id="indicators">
        <br/>
        <table id="indicators_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th><th>Confidence</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- CAMPAIGNS -->
    <div role="tabpanel" class="tab-pane {% if tab == 'campaigns' %}active{% endif %}" id="campaigns">
        <br/>
        <table id="campaigns_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endspaceless %}
{% endif %}
{% endblock %}

{% block javascript%}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#related_indicators_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No related indicators found ...",
                sZeroRecords: "No related indicators found ...",
                sEmptyTable: "No related indicators found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/campaigns/{{ campaign_id }}/related/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:indicator' indicator_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
});

$(document).ready( function () {
        var pTable = $('#associated_campaigns_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No associated campaigns found ...",
                sZeroRecords: "No associated campaigns found ...",
                sEmptyTable: "No associated campaigns found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/campaigns/{{ campaign_id }}/associated/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:indicator' indicator_id=0 %}".replace(0, Number(full.campaign_id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
});

$(function () {
    $('[data-toggle="popover"]').popover()
});
</script>
{% endblock%}
