{% extends "base.html" %}
{% load staticfiles %}
{% load split_at %}
{% block header %}
.wrapdiv {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}
{% endblock %}
{% block sidebar %}
{% spaceless %}
{% if campaign %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespace_icon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ campaign.namespace.last.namespace|split_at:":,0" }}</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Linked Packages
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all intelligence packages that contain/link the displayed campaign."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="linked_packages_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Associated Campaigns
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all campaigns that are associated with the currently viewed campaign."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="associated_campaigns_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Related Indicators
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all indicators that are related to the currently viewed campaign."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="related_indicators_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Campaign.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ campaign.name }}</h2>Campaign ID: {{ campaign_id }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if campaign %}
{% spaceless %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ campaign.name }}<i id="toggle-commentsidebar" class="fa fa-comment-o pull-right" data-toggle="tooltip" data-placement="top" data-original-title="add comment"></i><i id="toggle-navsidebar" class="fa fa-pencil-square-o pull-right" data-toggle="tooltip" data-placement="top" data-original-title="edit meta-information"></i></h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Namespace</b></td>
                <td>{{ campaign.namespace.last.namespace }}</td>
                <td align="right"><b>Status</b></td>
                <td>{{ campaign.status }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ campaign.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ campaign.last_modified }}</td>
            </tr>
            <tr>
                <td align="right"><b>Confidence</b></td>
                <td><span class="label label-{{ confidence_color }}">{{ confidence }}</span></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <pre class="pre-scrollable wrapdiv">{{ campaign.description }}</pre>
    </div>
</div>

<div id="navsidebar" class="navsidebar navsidebar-right">
  <div id="navsidebar-wrapper" class="navsidebar-wrapper">
    <header class="navsidebar-header"><i class="fa fa-pencil-square-o"></i>&nbsp;Kraut Editor</header>
    <nav class="navsidebar-menu">
        <form action="{% url 'intel:update_campaign_header' campaign_id=campaign_id %}" method="POST">
        {% csrf_token %}
            <ul>
                <li>Title</li>
                <li><input name="campaign_name" class="form-control" type="text" value="{{ campaign.name }}"></li>
                <li>Status</li>
                <li><input name="campaign_status" class="form-control" type="text" value="{{ campaign.status }}"></li>
                <li>Confidence</li>
                <li>
                <select class="form-control" name="campaign_confidence">
                    {% for co in confidences %}
                        {% if co.value == confidence %}
                            <option selected>{{ co.value }}</option>
                        {% else %}
                            <option>{{ co.value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </li>
                <li>Namespace<br/><small>(clears all other namespaces set)</small></li>
                <li>
                <select class="form-control" name="campaign_namespace">
                    {% for ns in namespaces %}
                        {% if ns.namespace == campaign.namespace.last.namespace %}
                            <option selected>{{ ns }}</option>
                        {% else %}
                            <option>{{ ns }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </li>
                <li>Description</li>
                <li><textarea class="form-control" name="campaign_description" rows="13">{{ campaign.description }}</textarea></li>
                <li><button type="submit" class="btn btn-primary close-navsidebar">Submit</button></li>
            </ul>
            </form>
    </nav>
  </div>
</div>


<div id="commentsidebar" class="navsidebar navsidebar-right">
  <div id="commentsidebar-wrapper" class="commentsidebar-wrapper">
    <header class="navsidebar-header"><i class="fa fa-comment-o"></i>&nbsp;Kraut Commentor</header>
    <nav class="navsidebar-menu">
        <form action="{% url 'intel:comment_campaign' campaign_id=campaign.id %}" method="POST">
        {% csrf_token %}
            <ul>
                <li><div class="form-group"><label for="packageAuthor">Author:</label><div>{{ request.user  }}</div></div></li>
                <li><div class="form-group"><label for="packageComment">Enter Comment:</label>{{ commentform.ctext }}</div></li>
                <li><button type="submit" class="btn btn-primary close-navsidebar">Comment</button></li>
            </ul>
        </form>
    </nav>
  </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Intelligence Information</h3>
    </div>
    <div class="panel-body">
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if num_indicators > 0 %}
    <li role="presentation" {% if tab == 'indicators' %}class="active"{% endif %}>
        <a href="#indicators" aria-controls="indicators" role="tab" data-toggle="tab">
            <img src="{% static 'images/Indicator.svg' %}" height="32" />&nbsp;&nbsp;Indicators
            <span class="badge">{{ num_indicators }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_campaigns > 0 %}
    <li role="presentation" {% if tab == 'campaigns' %}class="active"{% endif %}>
        <a href="#campaigns" aria-controls="campaigns" role="tab" data-toggle="tab">
            <img src="{% static 'images/Campaign.svg' %}" height="32" />&nbsp;&nbsp;Campaigns
            <span class="badge">{{ num_campaigns }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_ttps > 0 %}
    <li role="presentation" {% if tab == 'ttps' %}class="active"{% endif %}>
        <a href="#ttps" aria-controls="ttps" role="tab" data-toggle="tab">
            <img src="{% static 'images/TTP.svg' %}" height="32" />&nbsp;&nbsp;TTPs
            <span class="badge">{{ num_ttps }}</span>
        </a>
    </li>
    {% endif %}
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- INDICATOR -->
    <div role="tabpanel" class="tab-pane {% if tab == 'indicators' %}active{% endif %}" id="indicators">
        <br/>
        <table id="indicators_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th><th>Confidence</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- CAMPAIGNS -->
    <div role="tabpanel" class="tab-pane {% if tab == 'campaigns' %}active{% endif %}" id="campaigns">
        <br/>
        <table id="campaigns_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- TTPS -->
    <div role="tabpanel" class="tab-pane {% if tab == 'ttps' %}active{% endif %}" id="campaigns">
        <br/>
        <table id="ttps_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <th>Name</th>
                <th>Short Description</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
</div> <!-- panel-body -->
</div> <!-- panel -->
{% if comments %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-comment-o"></i>&nbsp;Comments</h3>
    </div>
    <div class="panel-body">
       <table id="comment_table" class="table table-condensed" style="font-size: 0.9em;">
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>Author:</td><td>{{ comment.author }}</td>
                        <td>Created:</td>
                        <td>
                            {{ comment.creation_time }}
                            {% if comment.author == request.user %}
                                <a href="{% url 'intel:delete_comment_campaign' campaign_id=campaign_id comment_id=comment.id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="delete comment" class="fa fa-remove pull-right"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><pre class="pre-scrollable wrapdiv">{{ comment.ctext }}</pre></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endspaceless %}
{% endif %}
{% endblock %}

{% block javascript%}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#related_indicators_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No related indicators found ...",
                sZeroRecords: "No related indicators found ...",
                sEmptyTable: "No related indicators found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/campaigns/{{ campaign_id }}/related/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:indicator' indicator_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
});

$(document).ready( function () {
        var pTable = $('#associated_campaigns_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No associated campaigns found ...",
                sZeroRecords: "No associated campaigns found ...",
                sEmptyTable: "No associated campaigns found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/campaigns/{{ campaign_id }}/associated/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:indicator' indicator_id=0 %}".replace(0, Number(full.campaign_id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
});

$(document).ready( function () {
        var pTable = $('#ttps_table').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/campaigns/{{ campaign_id }}/related_ttps/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:ttp' ttp_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'short_description', 'sName': 'Short Description', 'aTargets': [ 2 ]},
            ],
        });
});

$(document).ready( function () {
        var pTable = $('#linked_packages_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No linked packages found ...",
                sZeroRecords: "No linked packages found ...",
                sEmptyTable: "No linked packages found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/campaigns/{{ campaign_id }}/related_packages/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:package' package_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
});


$(function () {
    $('[data-toggle="popover"]').popover()
});
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function() {
  $('#navsidebar').simplerSidebar({
    opener: '#toggle-navsidebar',
    sidebar: {
      align: 'right',
      width: 560,
      closingLinks: '.close-navsidebar',
      top: 60,
      animation: {
        duration: 10,
      }
    }
  });
});

$(document).ready(function() {
  $('#commentsidebar').simplerSidebar({
    opener: '#toggle-commentsidebar',
    sidebar: {
      align: 'right',
      width: 560,
      closingLinks: '.close-commentsidebar',
      top: 60,
      animation: {
        duration: 10,
      }
    }
  });
});
</script>
{% endblock%}
