{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
.wrapdiv {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}
{% endblock %}
{% block sidebar %}
{% spaceless %}
{% if observable %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespace_icon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ observable.namespace }}</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Linked Packages
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all intelligence packages that contain/link the displayed observable."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            <tbody>
                {% for package in observable.package_set.all %}
                    <tr><td><a href="{% url 'intel:package' package_id=package.id %}">{{ package.name }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if observable.indicators.all|length > 0 %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Linked Indicators
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all indicators that contain/link the displayed observable."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                {% for indicator in observable.indicators.all %}
                    <tr><td>{{ indicator.name }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Linked Observables
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all observables that contain/link the displayed object. Including the currently shown observable."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
            {% for obs_list in related_observables %}
                {% for item in obs_list %}
                    {% if item.name ==  observable.name %}
                    <tr><td>{{ item.name }}</td></tr>
                    {% else %}
                    <tr><td><a href="{% url 'intel:observable' observable_id=item.id %}">{{ item.name }}</a></td></tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Related Observables
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all objects from other observables that have a relationship with the object displayed."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="related_objects_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Relation</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Observable.png' %}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ observable.name }}</h2>Observable ID: {{ observable_id }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if observable %}
{% spaceless %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ observable.name }}</h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Namespace</b></td>
                <td>{{ observable.namespace }}</td>
                <td align="right"><b>Observable Type</b></td>
                <td>{{ observable.observable_type }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ observable.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ observable.last_modified }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        {{ observable.description }}
    </div>
</div>
{% endspaceless %}

<div role="tabpanel">
  {% spaceless %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if observable.observable_type == 'URIObjectType' %}
    <li role="presentation" class="active">
        <a href="#uri" aria-controls="uri" role="tab" data-toggle="tab">
            <i class="fa fa-link"></i>&nbsp;&nbsp;URI Object
        </a>
    </li>
    {% endif %}
    {% if observable.observable_type == 'FileObjectType' %}
    {% if hashes %}
    <li role="presentation" {% if active_tab == 'hashes'%}class="active"{% endif %}>
        <a href="#file" aria-controls="file" role="tab" data-toggle="tab">
            <i class="fa fa-file"></i>&nbsp;&nbsp;Hashes
        </a>
    </li>
    {% endif %}
    {% if meta|length > 0 %}
    <li role="presentation" {% if active_tab == 'meta'%}class="active"{% endif %}>
        <a href="#file-meta" aria-controls="file-meta" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Meta Information
        </a>
    </li>
    {% endif %}
    {% if custom|length > 0  %}
    <li role="presentation" {% if active_tab == 'custom'%}class="active"{% endif %}>
        <a href="#file-custom" aria-controls="file-custom" role="tab" data-toggle="tab">
            <i class="fa fa-sliders"></i>&nbsp;&nbsp;Custom Properties
        </a>
    </li>
    {% endif %}
    {% endif %}
    {% if observable.observable_type == 'MutexObjectType' %}
    <li role="presentation" class="active">
        <a href="#mutex" aria-controls="mutex" role="tab" data-toggle="tab">
            <i class="fa fa-key"></i>&nbsp;&nbsp;Mutex Object
        </a>
    </li>
    {% endif %}
    {% if observable.observable_type == 'HTTPSessionObjectType' %}
    <li role="presentation" class="active">
        <a href="#http" aria-controls="http" role="tab" data-toggle="tab">
            <i class="fa fa-random"></i>&nbsp;&nbsp;HTTP Object
        </a>
    </li>
    <li role="presentation">
        <a href="#http_header" aria-controls="http_header" role="tab" data-toggle="tab">
            <i class="fa fa-header"></i>&nbsp;&nbsp;Raw Header
        </a>
    </li>
    <li role="presentation">
        <a href="#http_body" aria-controls="http_body" role="tab" data-toggle="tab">
            <i class="fa fa-columns"></i>&nbsp;&nbsp;Message Body
        </a>
    </li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- URI -->
    {% if observable.observable_type == 'URIObjectType' %}
    <div role="tabpanel" class="tab-pane active" id="uri">
        <br/>
        {% for object in objects %}
        <table class="table table-condensed table-borderless table-hover">
            <tbody>
                <tr><td><b>URI</b></td><td>{{ object.uri_value }}</td></tr>
                <tr><td><b>Type</b></td><td>{{ object.uri_type }}</td></tr>
                <tr><td><b>Condition</b></td><td>{{ object.condition }}</td></tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% endif %}
    <!-- FILE -->
    {% if observable.observable_type == 'FileObjectType' %}
    {% if hashes %}
    <div role="tabpanel" class="tab-pane {% if active_tab == 'hashes'%}active{% endif %}" id="file">
        <br/>
        {% for object in objects %}
        <table class="table table-condensed table-borderless table-hover">
            <tbody>
                <tr><td><b>MD5</b></td><td>{{ object.md5_hash }}</td></tr>
                <tr><td><b>SHA256</b></td><td>{{ object.sha256_hash }}</td></tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% endif %}
    {% if meta|length > 0  %}
    <div role="tabpanel" class="tab-pane {% if active_tab == 'meta'%}active{% endif %}" id="file-meta">
        <br/>
        <table class="table table-condensed table-borderless table-hover">
            {% for item in meta %}
            <tbody>
                {% if item.name != 'No Name' %}
                <tr><td><b>File Name</b></td><td>{{ item.name }}</td></tr>
                {% endif %}
                {% if item.path != 'No Path' %}
                <tr><td><b>File Path</b></td><td>{{ item.path }}</td></tr>
                {% endif %}
                {% if item.extension != 'No Extension' %}
                <tr><td><b>File Extension</b></td><td>{{ item.extension }}</td></tr>
                {% endif %}
                {% if item.size != 0 %}
                <tr><td><b>File Size</b></td><td>{{ item.size }}</td></tr>
                {% endif %}
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if custom|length > 0  %}
    <div role="tabpanel" class="tab-pane {% if active_tab == 'custom'%}active{% endif %}" id="file-custom">
        <br/>
        <table class="table table-condensed table-borderless table-hover">
            <thead>
                <tr><th>Name</th><th>Value</th></tr>
            </thead>
            {% for property in custom %}
            <tbody>
                <tr><td>{{ property.name }}</td><td>{{property.value }}</td></tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endif %}
    <!-- MUTEX -->
    {% if observable.observable_type == 'MutexObjectType' %}
    <div role="tabpanel" class="tab-pane active" id="mutex">
        <br/>
        {% for object in objects %}
        <table class="table table-condensed table-borderless table-hover">
            <tbody>
                <tr><td><b>Mutex</b></td><td>{{ object.mutex_name }}</td></tr>
                <tr><td><b>Condition</b></td><td>{{ object.condition }}</td></tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% endif %}
    <!-- HTTP SESSION -->
    {% if observable.observable_type == 'HTTPSessionObjectType' %}
    <div role="tabpanel" class="tab-pane active" id="http">
        <br/>
        <table class="table table-condensed table-borderless table-hover">
            <tbody>
                {% for object in objects %}
                    <tr><td><b>Method</b></td><td>{{ object.client_request.request_method }}</td></tr>
                    <tr><td><b>{{ object.client_request.domain_name.uri_type }}</b></td><td>{{ object.client_request.domain_name.uri_value }}</td></tr>
                    <tr><td><b>URI</b></td><td>{{ object.client_request.request_uri }}</td></tr>
                    <tr><td><b>Port</b></td><td>{{ object.client_request.port }}</td></tr>
                    <tr><td><b>Version</b></td><td>{{ object.client_request.request_version }}</td></tr>
                    <tr><td><b>Agent</b></td><td>{{ object.client_request.user_agent }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="http_header">
        <br/>
        {% for object in objects %}
            <pre class="pre-scrollable wrapdiv">{{ object.client_request.raw_header }}</pre>
        {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="http_body">
        <br/>
        {% for object in objects %}
            <pre class="pre-scrollable wrapdiv">{{ object.client_request.message_body }}</pre>
        {% endfor %}
    </div>
    {% endif %}
    <!-- ADDRESS -->
    <div role="tabpanel" class="tab-pane {% if tab == 'observables' %}active{% endif %}" id="observables">
        <br/>
        <table id="observables_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
  </div>
  {% endspaceless %}
</div>

{% endif %}
{% endblock%}

{% block javascript%}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#related_objects_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No related observables found ...",
                sZeroRecords: "No related observables found ...",
                sEmptyTable: "No related observables found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/observables/{{ observable_id }}/related_objects/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:observable' observable_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {
                    'data': 'relation',
                    'sName': 'relation', 
                    'aTargets': [ 2 ]
                }
            ],
        });
});

$(function () {
    $('[data-toggle="popover"]').popover()
});
</script>
{% endblock%}
