{% extends "base.html" %}
{% load staticfiles %}

{% block sidebar %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespace_icon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ observable.namespace }}</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Related Packages</h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            <tbody>
                {% for package in observable.package_set.all %}
                    <tr><td><a href="{% url 'intel:package' package_id=package.id %}">{{ package.name }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Related Indicators</h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            <tbody>
                {% for indicator in observable.indicators.all %}
                    <tr><td><a href="#">{{ indicator.name }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Related Observables</h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="related_observables_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Relation</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Observable.png' %}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ observable.name }}</h2>Observable ID: {{ observable_id }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if observable %}
{% spaceless %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ observable.name }}</h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Namespace</b></td>
                <td>{{ observable.namespace }}</td>
                <td align="right"><b>Observable Type</b></td>
                <td>{{ observable.observable_type }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ observable.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ observable.last_modified }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        {{ observable.description }}
    </div>
</div>
{% endspaceless %}

<div role="tabpanel">
  {% spaceless %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if observable.observable_type == 'URIObjectType' %}
    <li role="presentation" class="active">
        <a href="#uri" aria-controls="uri" role="tab" data-toggle="tab">
            <i class="fa fa-link"></i>&nbsp;&nbsp;URI Object
        </a>
    </li>
    {% endif %}
    {% if observable.observable_type == 'FileObjectType' %}
    {% if hashes %}
    <li role="presentation" {% if active_tab == 'hashes'%}class="active"{% endif %}>
        <a href="#file" aria-controls="file" role="tab" data-toggle="tab">
            <i class="fa fa-file"></i>&nbsp;&nbsp;Hashes
        </a>
    </li>
    {% endif %}
    {% if meta|length > 0 %}
    <li role="presentation" {% if active_tab == 'meta'%}class="active"{% endif %}>
        <a href="#file-meta" aria-controls="file-meta" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Meta Information
        </a>
    </li>
    {% endif %}
    {% if custom|length > 0  %}
    <li role="presentation" {% if active_tab == 'custom'%}class="active"{% endif %}>
        <a href="#file-custom" aria-controls="file-custom" role="tab" data-toggle="tab">
            <i class="fa fa-sliders"></i>&nbsp;&nbsp;Custom Properties
        </a>
    </li>
    {% endif %}
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- URI -->
    {% if observable.observable_type == 'URIObjectType' %}
    <div role="tabpanel" class="tab-pane active" id="uri">
        <br/>
        {% for object in objects %}
        <table class="table table-condensed table-borderless table-hover">
            <tbody>
                <tr><td><b>URI</b></td><td>{{ object.uri_value }}</td></tr>
                <tr><td><b>Type</b></td><td>{{ object.uri_type }}</td></tr>
                <tr><td><b>Condition</b></td><td>{{ object.condition }}</td></tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% endif %}
    <!-- FILE -->
    {% if observable.observable_type == 'FileObjectType' %}
    {% if hashes %}
    <div role="tabpanel" class="tab-pane {% if active_tab == 'hashes'%}active{% endif %}" id="file">
        <br/>
        {% for object in objects %}
        <table class="table table-condensed table-borderless table-hover">
            <tbody>
                <tr><td><b>MD5</b></td><td>{{ object.md5_hash }}</td></tr>
                <tr><td><b>SHA256</b></td><td>{{ object.sha256_hash }}</td></tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% endif %}
    {% if meta|length > 0  %}
    <div role="tabpanel" class="tab-pane {% if active_tab == 'meta'%}active{% endif %}" id="file-meta">
        <br/>
        <table class="table table-condensed table-borderless table-hover">
            {% for item in meta %}
            <tbody>
                {% if item.name != 'No Name' %}
                <tr><td><b>File Name</b></td><td>{{ item.name }}</td></tr>
                {% endif %}
                {% if item.path != 'No Path' %}
                <tr><td><b>File Path</b></td><td>{{ item.path }}</td></tr>
                {% endif %}
                {% if item.extension != 'No Extension' %}
                <tr><td><b>File Extension</b></td><td>{{ item.extension }}</td></tr>
                {% endif %}
                {% if item.size != 0 %}
                <tr><td><b>File Size</b></td><td>{{ item.size }}</td></tr>
                {% endif %}
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% if custom|length > 0  %}
    <div role="tabpanel" class="tab-pane {% if active_tab == 'custom'%}active{% endif %}" id="file-custom">
        <br/>
        <table class="table table-condensed table-borderless table-hover">
            <thead>
                <tr><th>Name</th><th>Value</th></tr>
            </thead>
            {% for property in custom %}
            <tbody>
                <tr><td>{{ property.name }}</td><td>{{property.value }}</td></tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endif %}
    <!-- EMAIL -->
    <div role="tabpanel" class="tab-pane {% if tab == 'indicators' %}active{% endif %}" id="indicators">
        <br/>
        <table id="indicators_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th><th>Confidence</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- ADDRESS -->
    <div role="tabpanel" class="tab-pane {% if tab == 'observables' %}active{% endif %}" id="observables">
        <br/>
        <table id="observables_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
  </div>
  {% endspaceless %}
</div>

{% endif %}
{% endblock%}

{% block javascript%}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#related_observables_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No related observables found ...",
                sZeroRecords: "No related observables found ...",
                sEmptyTable: "No related observables found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/observables/{{ observable_id }}/related_objects/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:observable' observable_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {
                    'data': 'relation',
                    'sName': 'relation', 
                    'aTargets': [ 2 ]
                }
            ],
        });
    });
</script>
{% endblock%}
