{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-header"><i class="fa fa-sitemap fa-3x pull-left"></i><h2>Observables</h2>browse recently submitted observable items ...</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<table id="observables_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Time</th>
            <th>Last Modified</th>
            <th>NS</th>
            <th>Type</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock%}

{% block javascript %}
<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
        var oTable = $('#observables_table').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                processing: true,
                url: "/api/observables/.json",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'short_name',
                    'sName': 'short_name',
                    'aTargets': [ 1 ],
                    "mRender": function (data, type, full) {
                        return '<div rel="tooltip" data-placement="top" data-original-title="'+full.name+'">'+data+'</div>';
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $("div", nTd).tooltip();
                    }
                },
                {'data': 'creation_time', 'sName': 'creation_time', 'aTargets': [ 2 ]},
                {'data': 'last_modified', 'sName': 'last_modified', 'aTargets': [ 3 ]},
                {
                    'data': 'namespace_icon', 
                    'sName': 'namespace',
                    'aTargets': [ 4 ],
                    "mRender": function (data, type, full) {
                        return '<img src="'+data+'" width="32" height="32" rel="tooltip" data-placement="top" data-original-title="'+full.namespace+'">';
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $("img", nTd).tooltip();
                    }
                },
                {'data': 'observable_type', 'sName': 'observable_type', 'aTargets': [ 5 ]},
                {
                    "data": 'id',
                    'sName': 'operations',
                    'bSortable': false, 
                    'aTargets': [ 6 ],
                    "mRender": function (data, type, full) {
                        return '<div class="btn-group1">' +
                            '<a class="btn btn-small" rel="tooltip" data-placement="left" data-original-title="Edit">' +
                            '<i class="fa fa-edit"></i>' +
                            '</a> ' +
                            '<a class="btn btn-small" rel="tooltip" data-placement="top" data-original-title="View">' +
                            '<i class="fa fa-eye"></i>' +
                            '</a>' +
                            '<a class="btn btn-small" rel="tooltip" data-placement="bottom" data-original-title="Remove">' +
                            '<i class="fa fa-remove"></i>' +
                            '</a>' +
                            '</div>';
                        //return "<a href='javascript:alert("+data+");'>Show Details</a>";
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $("a", nTd).tooltip();
                    }
                }
            ],
        });
    } );
</script>
{% endblock %}
