{% extends "base.html" %}
{% load staticfiles %}
{% load split_at %}
{% block header %}
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.addimage {
  margin-right:10px;
}

</style>
{% endblock %}

{% block sidebar %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespace_icon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ package.namespace.last.namespace|split_at:":,0" }}</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Package Visualization<a href="{% url 'intel:package_graph' package_id=package_id %}"><i data-toggle="tooltip" data-placement="left" data-original-title="fullscreen" class="fa fa-external-link pull-right"></i></a></h3>
    </div>
    <div id="tree-container" class="panel-body">
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Quickstart Panel
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all        network and filesystem based indicators, such as domains, IP addresses, and file hashes. Items can also be exported and downloaded as a csv file."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
    {% if 'URIObjectType' in quick_pane %}
        <table id="uri_quick_table" class="table table-condensed table-borderless" style="font-size: small;">
            <thead><tr><th><a class="btn btn-danger btn-xs" href="{% url 'api:package_quick' pk=package_id otype='URIObjectType' format='csv' %}"><i class="fa fa-download"></i> export</a> URLs/Domains</th></tr></thead>
            <tbody>
                    <tr>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    {% endif %}
    {% if 'AddressObjectType' in quick_pane %}
        <table id="address_quick_table" class="table table-condensed table-borderless" style="font-size: small;">
            <thead><tr><th><a class="btn btn-danger btn-xs" href="{% url 'api:package_quick' pk=package_id otype='AddressObjectType' format='csv' %}"><i class="fa fa-download"></i> export</a> IP Addresses</th></tr></thead>
            <tbody>
                    <tr>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    {% endif %}
    {% if 'FileObjectType' in quick_pane %}
        <table id="hashes_quick_table" class="table table-condensed table-borderless" style="font-size: small;">
            <thead><tr><th><a class="btn btn-danger btn-xs" href="{% url 'api:package_quick' pk=package_id otype='FileObjectType' format='csv' %}"><i class="fa fa-download"></i> export</a> Hashes</th></tr></thead>
            <tbody>
                    <tr>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    {% endif %}
    {% if 'LinkObjectType' in quick_pane %}
        <table id="link_quick_table" class="table table-condensed table-borderless" style="font-size: small;">
            <thead><tr><th><a class="btn btn-danger btn-xs" href="{% url 'api:package_quick' pk=package_id otype='LinkObjectType' format='csv' %}"><i class="fa fa-download"></i> export</a> Links</th></tr></   thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Package.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ package.name }}</h2>Intelligence Package ID: {{ package_id }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if package %}
{% spaceless %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ package.name }}<i id="toggle-commentsidebar" class="fa fa-comment-o pull-right" data-toggle="tooltip" data-placement="top" data-original-title="add comment"></i><i id="toggle-navsidebar" class="fa fa-pencil-square-o pull-right" data-toggle="tooltip" data-placement="top" data-original-title="edit meta-information"></i></h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Namespace</b></td>
                <td>{{ package.namespace.last.namespace }}</td>
                <td align="right"><b>Produced Time</b></td>
                <td>{{ package.produced_time }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ package.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ package.last_modified }}</td>
            </tr>
            <tr>
                <td align="right"><b>STIX Version</b></td>
                <td>{{ package.version }}</td>
                <td align="right"><b>Source</b></td>
                <td>{{ package.source }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <pre class="pre-scrollable wrapdiv">{{ description }}</pre>
    </div>
</div>
<div id="navsidebar" class="navsidebar navsidebar-right">
  <div id="navsidebar-wrapper" class="navsidebar-wrapper">
    <header class="navsidebar-header"><i class="fa fa-pencil-square-o"></i>&nbsp;Kraut Editor</header>
    <nav class="navsidebar-menu">
        <form action="{% url 'intel:update_package_header' package_id=package_id %}" method="POST">
        {% csrf_token %}
            <ul>
                <li>Title</li>
                <li><input name="package_name" class="form-control" type="text" value="{{ package.name }}"></li>
                <li>Source</li>
                <li><input name="package_source" class="form-control" type="text" value="{{ package.source }}"></li>
                <li>Namespace<br/><small>(clears all other namespaces set)</small></li>
                <li>
                <select class="form-control" name="package_namespace">
                    {% for ns in namespaces %}
                        {% if ns.namespace == package.namespace.last.namespace %}
                            <option selected>{{ ns }}</option>
                        {% else %}
                            <option>{{ ns }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </li>
                <li>Description</li>
                <li><textarea class="form-control" name="package_description" rows="13">{{ package.description }}</textarea></li>
                <li><button type="submit" class="btn btn-primary close-navsidebar">Submit</button></li>
            </ul>
            </form>
    </nav>
  </div>
</div>
<div id="commentsidebar" class="navsidebar navsidebar-right">
  <div id="commentsidebar-wrapper" class="commentsidebar-wrapper">
    <header class="navsidebar-header"><i class="fa fa-comment-o"></i>&nbsp;Kraut Commentor</header>
    <nav class="navsidebar-menu">
        <form action="{% url 'intel:comment_package' package_id=package_id %}" method="POST">
        {% csrf_token %}
            <ul>
                <li><div class="form-group"><label for="packageAuthor">Author:</label><div>{{ request.user  }}</div></div></li>
                <li><div class="form-group"><label for="packageComment">Enter Comment:</label>{{ commentform.text }}</div></li>
                <li><button type="submit" class="btn btn-primary close-navsidebar">Comment</button></li>
            </ul>
        </form>
    </nav>
  </div>
</div>
{% endspaceless %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Intelligence Information
            <a href="#" data-toggle="modal" data-target="#addOBModal">
            <img class="pull-right addimage" src="{% static 'images/Observable.svg' %}" height="32" data-toggle="tooltip" data-placement="top" data-original-title="Add Observable" />
            </a>
            <a href="#" data-toggle="modal" data-target="#addINModal">
            <img class="pull-right addimage" src="{% static 'images/Indicator.svg' %}" height="32" data-toggle="tooltip" data-placement="top" data-original-title="Add Indicator" />
            </a>
            <a href="#" data-toggle="modal" data-target="#addTTPModal">
            <img class="pull-right addimage" src="{% static 'images/TTP.svg' %}" height="32" data-toggle="tooltip" data-placement="top" data-original-title="Add TTP" />
            </a>
            <a href="#" data-toggle="modal" data-target="#addCAModal">
            <img class="pull-right addimage" src="{% static 'images/Campaign.svg' %}" height="32" data-toggle="tooltip" data-placement="top" data-original-title="Add Campaign" />
            </a>
            <a href="#" data-toggle="modal" data-target="#addTAModal">
            <img class="pull-right addimage" src="{% static 'images/Threat Actor.svg' %}" height="32" data-toggle="tooltip" data-placement="top" data-original-title="Add Threat Actor" />
            </a>
            <div class="pull-right addimage">Modification Options</div>
        </h3>
    </div>
    <div class="panel-body">
<div role="tabpanel">
  {% spaceless %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if num_threat_actors > 0 %}
    <li role="presentation" {% if tab == 'threatactors' %}class="active"{% endif %}>
        <a href="#threatactors" aria-controls="threatactors" role="tab" data-toggle="tab">
            <img src="{% static 'images/Threat Actor.svg' %}" height="32" />&nbsp;&nbsp;Threat Actors
            <span class="badge">{{ num_threat_actors }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_campaigns > 0 %}
    <li role="presentation" {% if tab == 'campaigns' %}class="active"{% endif %}>
        <a href="#campaigns" aria-controls="campaigns" role="tab" data-toggle="tab">
            <img src="{% static 'images/Campaign.svg' %}" height="32" />&nbsp;&nbsp;Campaigns
            <span class="badge">{{ num_campaigns }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_ttps > 0 %}
    <li role="presentation" {% if tab == 'ttps' %}class="active"{% endif %}>
        <a href="#ttps" aria-controls="ttps" role="tab" data-toggle="tab">
            <img src="{% static 'images/TTP.svg' %}" height="32" />&nbsp;&nbsp;TTPs
            <span class="badge">{{ num_ttps }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_indicators > 0 %}
    <li role="presentation" {% if tab == 'indicators' %}class="active"{% endif %}>
        <a href="#indicators" aria-controls="indicators" role="tab" data-toggle="tab">
            <img src="{% static 'images/Indicator.svg' %}" height="32" />&nbsp;&nbsp;Indicators
            <span class="badge">{{ num_indicators }}</span>
        </a>
    </li>
    {% endif %}
    {% if num_observables > 0 %}
    <li role="presentation" {% if tab == 'observables' %}class="active"{% endif %}>
        <a href="#observables" aria-controls="observables" role="tab" data-toggle="tab">
            <img src="{% static 'images/Observable.svg' %}" height="32" />&nbsp;&nbsp;Observables
            <span class="badge">{{ num_observables }}</span>
        </a>
    </li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- THREAT ACTOR -->
    <div role="tabpanel" class="tab-pane {% if tab == 'threatactors' %}active{% endif %}" id="threatactors">
        <br/>
        <table id="threatactors_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Short Description</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- CAMPAIGN -->
    <div role="tabpanel" class="tab-pane {% if tab == 'campaigns' %}active{% endif %}" id="campaigns">
        <br/>
        <table id="campaigns_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Confidence</th><th>Status</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- TTPS -->
    <div role="tabpanel" class="tab-pane {% if tab == 'ttps' %}active{% endif %}" id="ttps">
        <br/>
        <table id="ttps_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Short Description</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- INDICATOR -->
    <div role="tabpanel" class="tab-pane {% if tab == 'indicators' %}active{% endif %}" id="indicators">
        <br/>
        <table id="indicators_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th><th>Confidence</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <!-- OBSERVABLE -->
    <div role="tabpanel" class="tab-pane {% if tab == 'observables' %}active{% endif %}" id="observables">
        <br/>
        <table id="observables_table" class="table table-condensed" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th><th>Type</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div> <!-- END OBSERVABLE -->
  </div> <!-- END TAB CONTENT -->
</div>
</div>
</div>

{% if comments %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-comment-o"></i>&nbsp;Comments</h3>
    </div>
    <div class="panel-body">
       <table id="campaigns_table" class="table table-condensed" style="font-size: 0.9em;">
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>Author:</td><td>{{ comment.author }}</td><td>Created:</td><td>{{ comment.creation_time }}</td>
                    </tr>
                    <tr>
                        <td colspan="4"><pre class="pre-scrollable wrapdiv">{{ comment.text }}</pre></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<!-- Modal to add an existing threat actor to the package -->
<div class="modal bs-example-modal-lg" id="addTAModal" tabindex="-1" role="dialog" aria-labelledby="addTALabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTALabel">Add Threat Actor</h4>
            </div>
                <div class="modal-body">
                    <table id="ta_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>
<!-- Modal to add an existing campaign to the package -->
<div class="modal bs-example-modal-lg" id="addCAModal" tabindex="-1" role="dialog" aria-labelledby="addCALabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addCALabel">Add Campaign</h4>
            </div>
                <div class="modal-body">
                    <table id="ca_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>
<!-- Modal to add an existing ttp to the package -->
<div class="modal bs-example-modal-lg" id="addTTPModal" tabindex="-1" role="dialog" aria-labelledby="addTTPLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTTPLabel">Add Tools, Tactics, and Procedures</h4>
            </div>
                <div class="modal-body">
                    <table id="ttp_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>
<!-- Modal to add an existing indicator to the package -->
<div class="modal bs-example-modal-lg" id="addINModal" tabindex="-1" role="dialog" aria-labelledby="addINLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addINLabel">Add Indicator</h4>
            </div>
                <div class="modal-body">
                    <table id="indicator_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>
<!-- Modal to add an existing observable to the package -->
<div class="modal bs-example-modal-lg" id="addOBModal" tabindex="-1" role="dialog" aria-labelledby="addOBLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addOBLabel">Add Observable</h4>
            </div>
                <div class="modal-body">
                    <table id="observable_table" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>
</div>

{% endspaceless %}
{% endif %}
{% endblock%}

{% block javascript%}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
    var pTable = $('#address_quick_table').DataTable({
        ordering: false, paging: false, info: false, filter: false, processing: true, serverSide: true,
        oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        order: [[ 0, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/packages/{{ package_id }}/quick/AddressObjectType/",
            dataSrc: "results", type: "GET", dataType: "json"
        },
        columns: [
            { 'data': 'value', 'sName': 'hash', 'aTargets': [ 1 ] }
        ],
    });

    var pTable = $('#uri_quick_table').DataTable({
        ordering: false, paging: false, info: false, filter: false, processing: true, serverSide: true,
        oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        order: [[ 0, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/packages/{{ package_id }}/quick/URIObjectType/",
            dataSrc: "results", type: "GET", dataType: "json"
        },
        columns: [
            { 'data': 'value', 'sName': 'hash', 'aTargets': [ 1 ] }
        ],
    });

    var lTable = $('#link_quick_table').DataTable({
        ordering: false, paging: false, info: false, filter: false, processing: true, serverSide: true,
        oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        order: [[ 0, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/packages/{{ package_id }}/quick/LinkObjectType/",
            dataSrc: "results", type: "GET", dataType: "json"
        },
        columns: [
            { 'data': 'value', 'sName': 'hash', 'aTargets': [ 1 ] }
        ],
    });

    var pTable = $('#hashes_quick_table').DataTable({
        ordering: false, paging: false, info: false, filter: false, processing: true, serverSide: true,
        oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        order: [[ 0, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/packages/{{ package_id }}/quick/FileObjectType/",
            dataSrc: "results", type: "GET", dataType: "json"
            },
        columns: [
            { 'data': 'value', 'sName': 'hash', 'aTargets': [ 1 ] }
            ],
        });
});
</script>

<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#observables_table').DataTable({
            processing: true,
            serverSide: true,
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/packages/{{ package_id }}/observables/.json",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:observable' observable_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'observable_type', 'sName': 'type', 'aTargets': [ 2 ]},
            ],
        });
    });
</script>

<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#indicators_table').DataTable({
            processing: true,
            serverSide: true,
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/packages/{{ package_id }}/indicators/.json",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:indicator' indicator_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'indicator_types', 'sName': 'type', 'aTargets': [ 2 ]},
                {'data': 'confidence', 'sName': 'confidence', 'aTargets': [ 3 ]},
            ],
        });
    });
</script>

<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#campaigns_table').DataTable({
            processing: true,
            serverSide: true,
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/packages/{{ package_id }}/campaigns/.json",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:campaign' campaign_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'confidence', 'sName': 'confidence', 'aTargets': [ 2 ]},
                {'data': 'status', 'sName': 'status', 'aTargets': [ 3 ]},
            ],
        });
    });
$(document).ready( function () {
    var pTable = $('#ca_table').DataTable({
        processing: true, serverSide: true, order: [[ 0, "desc" ]], oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        ajax: {
            processing: true, url: "/api/campaigns/.json", dataSrc: "results", type: "GET", dataType: "json"
        },
        columns: [
            {
                'data': 'name', 
                'sName': 'name', 
                'aTargets': [ 1 ],
                'mRender': function (data, type, full) {
                    var view_url = "{% url 'intel:add_item_to_package' package_id=0 item_id=1 item_name='campaign' %}".replace(1, Number(full.id)).replace(0, Number({{package_id}}));
                    return '<a href="'+view_url+'">'+data+'</a>';
                }
            }
        ],
    });
});
$(document).ready( function () {
    var pTable = $('#ttp_table').DataTable({
        processing: true, serverSide: true, order: [[ 0, "desc" ]], oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        ajax: {
            processing: true, url: "/api/ttps/.json", dataSrc: "results", type: "GET", dataType: "json"
        },
        columns: [
            {
                'data': 'name', 
                'sName': 'name', 
                'aTargets': [ 1 ],
                'mRender': function (data, type, full) {
                    var view_url = "{% url 'intel:add_item_to_package' package_id=0 item_id=1 item_name='ttp' %}".replace(1, Number(full.id)).replace(0, Number({{package_id}}));
                    return '<a href="'+view_url+'">'+data+'</a>';
                }
            }
        ],
    });
});
$(document).ready( function () {
    var pTable = $('#indicator_table').DataTable({
        processing: true, serverSide: true, order: [[ 0, "desc" ]], oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        ajax: {
            processing: true, url: "/api/indicators/.json", dataSrc: "results", type: "GET", dataType: "json"
        },
        columns: [
            {
                'data': 'name', 
                'sName': 'name', 
                'aTargets': [ 1 ],
                'mRender': function (data, type, full) {
                    var view_url = "{% url 'intel:add_item_to_package' package_id=0 item_id=1 item_name='indicator' %}".replace(1, Number(full.id)).replace(0, Number({{package_id}}));
                    return '<a href="'+view_url+'">'+data+'</a>';
                }
            }
        ],
    });
});
$(document).ready( function () {
    var pTable = $('#observable_table').DataTable({
        processing: true, serverSide: true, order: [[ 0, "desc" ]], oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", },
        ajax: {
            processing: true, url: "/api/observables/.json", dataSrc: "results", type: "GET", dataType: "json"
        },
        columns: [
            {
                'data': 'name', 
                'sName': 'name', 
                'aTargets': [ 1 ],
                'mRender': function (data, type, full) {
                    var view_url = "{% url 'intel:add_item_to_package' package_id=0 item_id=1 item_name='observable' %}".replace(1, Number(full.id)).replace(0, Number({{package_id}}));
                    return '<a href="'+view_url+'">'+data+'</a>';
                }
            }
        ],
    });
});
</script>

<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#ttps_table').DataTable({
            processing: true, serverSide: true, order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/packages/{{ package_id }}/ttps/.json",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:ttp' ttp_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'short_description', 'sName': 'short_description', 'aTargets': [ 2 ]},
            ],
        });
    });
</script>

<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#threatactors_table').DataTable({
            processing: true, serverSide: true, order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/packages/{{ package_id }}/threatactors/.json",
                dataSrc: "results", type: "GET", dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:threatactor' threat_actor_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'short_description', 'sName': 'short_description', 'aTargets': [ 2 ]},
            ],
        });
    });

$(document).ready( function () {
        var pTable = $('#ta_table').DataTable({
            processing: true, serverSide: true, oLanguage: { sProcessing: "<img src='{% static 'images/loading.gif' %}'>", }, order: [[ 0, "desc" ]],
            ajax: {
                processing: true, url: "/api/threatactors/.json", dataSrc: "results", type: "GET", dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:add_item_to_package' package_id=0 item_id=1 item_name='threatactor' %}".replace(1, Number(full.id)).replace(0, Number({{package_id}}));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
    });
</script>


<script type="text/javascript" language="javascript" class="init">
var w = parseInt(d3.select('#tree-container').style('width'))-30;
var h = 250;
var adjustme = 170;
var keyi = true, keyo = true, keyp = true;
var focus_node = null, highlight_node = null;
var text_center = false;
var outline = false;
var min_score = 0;
var max_score = 1;
var color = d3.scale.linear()
  .domain([min_score, (min_score+max_score)/2, max_score])
  .range(["lime", "yellow", "red"]);

var highlight_color = "#f1c40f";
var highlight_trans = 0.1;
var size = d3.scale.pow().exponent(1)
  .domain([1,100])
  .range([8,24]);
    
var force = d3.layout.force()
  .linkDistance(100)
  .charge(-300)
  .size([w,h]);

var default_node_color = "#34495e";
var default_link_color = "#2c3e50";
var nominal_base_node_size = 8;
var nominal_text_size = 10;
var max_text_size = 24;
var nominal_stroke = 1.5;
var max_stroke = 4.5;
var max_base_node_size = 36;
var min_zoom = 0.1;
var max_zoom = 7;
var svg = d3.select("#tree-container").append("svg");
var zoom = d3.behavior.zoom().scaleExtent([min_zoom,max_zoom])
var g = svg.append("g");
svg.style("cursor","move");

d3.json("/api/packagesd3/tree/{{ package_id }}/", function(error, graph) {

var linkedByIndex = {};
    graph.links.forEach(function(d) {
    linkedByIndex[d.source + "," + d.target] = true;
    });

    function isConnected(a, b) {
        return linkedByIndex[a.index + "," + b.index] || linkedByIndex[b.index + "," + a.index] || a.index == b.index;
    }

    function hasConnections(a) {
        for (var property in linkedByIndex) {
                s = property.split(",");
                if ((s[0] == a.index || s[1] == a.index) && linkedByIndex[property])                    return true;
        }
    return false;
    }
    
  force
    .nodes(graph.nodes)
    .links(graph.links)
    .start();

  var link = g.selectAll(".link")
    .data(graph.links)
    .enter().append("line")
    .attr("class", "link")
    .style("stroke-width",nominal_stroke)
    .style("stroke", function(d) {
    return default_link_color; })

  var node = g.selectAll(".node")
    .data(graph.nodes)
    .enter().append("g")
    .attr("class", "node")
    
    .call(force.drag)

    node.on("dblclick.zoom", function(d) { d3.event.stopPropagation();
    var dcx = (w/2-d.x*zoom.scale());
    var dcy = ((h-10)/2-d.y*zoom.scale());
    zoom.translate([dcx,dcy]);
     g.attr("transform", "translate("+ dcx + "," + dcy  + ")scale(" + zoom.scale() + ")");
    });
    
    var tocolor = "fill";
    var towhite = "stroke";
    if (outline) {
        tocolor = "stroke"
        towhite = "fill"
    }
    
  var circle = node.append("path")
      .attr("d", d3.svg.symbol()
        .size(function(d) { return Math.PI*Math.pow(size(d.size)||nominal_base_node_size,2); })
        .type(function(d) { return d.type; }))
  
      .style(tocolor, function(d) {
    if (isNumber(d.score) && d.score==1) return "#9b59b6";
    else if (isNumber(d.score) && d.score==0.6) return "#3498db";
    else if (isNumber(d.score) && d.score==0.3) return "#f1c40f";
    else if (isNumber(d.score) && d.score==0.5) return "#2980b9";
    else if (isNumber(d.score) && d.score==0.7) return "#e74c3c";
    else return default_node_color; })
    .style("stroke-width", nominal_stroke)
    .style(towhite, "white");
                
  var text = g.selectAll(".text")
    .data(graph.nodes)
    .enter().append("text")
    .attr("dy", ".35em")
    .style("font-size", nominal_text_size + "px")

    if (text_center)
     text.text(function(d) { return d.id; })
    .style("text-anchor", "middle");
    else 
    text.attr("dx", function(d) {return (size(d.size)||nominal_base_node_size);})
    .text(function(d) { return '\u2002'+d.id; });

    node.on("mouseover", function(d) {
    set_highlight(d);
    })
  .on("mousedown", function(d) { d3.event.stopPropagation();
    focus_node = d;
    set_focus(d)
    if (highlight_node === null) set_highlight(d)
    
}   ).on("mouseout", function(d) {
        exit_highlight();
}   );

        d3.select(window).on("mouseup",  
        function() {
        if (focus_node!==null)
        {
            focus_node = null;
            if (highlight_trans<1)
            {
        circle.style("opacity", 1);
      text.style("opacity", 1);
      link.style("opacity", 1);
    }
        }
    
    if (highlight_node === null) exit_highlight();
        });

function exit_highlight()
{
        highlight_node = null;
    if (focus_node===null)
    {
        svg.style("cursor","move");
        if (highlight_color!="white")
    {
      circle.style(towhite, "white");
      text.style("font-weight", "normal");
      link.style("stroke", function(o) {return (isNumber(o.score) && o.score>=0)?color(o.score):default_link_color});
    }
            
    }
}

function set_focus(d)
{   
if (highlight_trans<1)  {
    circle.style("opacity", function(o) {
                return isConnected(d, o) ? 1 : highlight_trans;
            });

            text.style("opacity", function(o) {
                return isConnected(d, o) ? 1 : highlight_trans;
            });
            
            link.style("opacity", function(o) {
                return o.source.index == d.index || o.target.index == d.index ? 1 : highlight_trans;
            });     
    }
}

function set_highlight(d)
{
    svg.style("cursor","pointer");
    if (focus_node!==null) d = focus_node;
    highlight_node = d;
    if (highlight_color!="white")
    {
          circle.style(towhite, function(o) {
                return isConnected(d, o) ? highlight_color : "white";});
            text.style("font-weight", function(o) {
                return isConnected(d, o) ? "bold" : "normal";});
            link.style("stroke", function(o) {
              return o.source.index == d.index || o.target.index == d.index ? highlight_color : ((isNumber(o.score) && o.score>=0)?color(o.score):default_link_color);

            });
    }
}
    
  zoom.on("zoom", function() {
    var stroke = nominal_stroke;
    if (nominal_stroke*zoom.scale()>max_stroke) stroke = max_stroke/zoom.scale();
    link.style("stroke-width",stroke);
    circle.style("stroke-width",stroke);
       
    var base_radius = nominal_base_node_size;
    if (nominal_base_node_size*zoom.scale()>max_base_node_size) base_radius = max_base_node_size/zoom.scale();
        circle.attr("d", d3.svg.symbol()
        .size(function(d) { return Math.PI*Math.pow(size(d.size)*base_radius/nominal_base_node_size||base_radius,2); })
        .type(function(d) { return d.type; }))
        
    if (!text_center) text.attr("dx", function(d) { return (size(d.size)*base_radius/nominal_base_node_size||base_radius); });
    
    var text_size = nominal_text_size;
    if (nominal_text_size*zoom.scale()>max_text_size) text_size = max_text_size/zoom.scale();
    text.style("font-size",text_size + "px");
    g.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
    });
     
  svg.call(zoom);     
  resize();
  d3.select(window).on("resize", resize);
      
  force.on("tick", function() {
    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    text.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
    node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
    });
  
  function resize() {
    var width = w, height = h;
    svg.attr("width", width).attr("height", height);
    force.size([force.size()[0]+(width-w-adjustme)/zoom.scale(),force.size()[1]+(height-h)/zoom.scale()]).resume();
    w = width;
    h = height;
    }

});

function isNumber(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}

$(function () {
    $('[data-toggle="popover"]').popover()
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function() {
  $('#navsidebar').simplerSidebar({
    opener: '#toggle-navsidebar',
    sidebar: {
      align: 'right',
      width: 560,
      closingLinks: '.close-navsidebar',
      top: 60,
      animation: {
        duration: 10,
      }
    }
  });
});

$(document).ready(function() {
  $('#commentsidebar').simplerSidebar({
    opener: '#toggle-commentsidebar',
    sidebar: {
      align: 'right',
      width: 560,
      closingLinks: '.close-commentsidebar',
      top: 60,
      animation: {
        duration: 10,
      }
    }
  });
});
</script>
{% endblock%}
