{% extends "base.html" %}
{% load staticfiles %}
{% load split_at %}
{% block header %}
.wrapdiv {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
}
{% endblock %}
{% block sidebar %}
{% spaceless %}
{% if ta %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{{ namespace_icon }}" height="64" class="media-object">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ ta.namespace|split_at:":,0" }}</h2>Side Panel
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Linked Packages
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of all intelligence packages that contain/link the displayed threat actor."></i>
        </h3>
    </div>
    <div id="quick-container" class="panel-body">
        <table id="linked_packages_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% if ta_alias %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Threat Actor Aliases
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of other names that this threat actor is known as."></i>
        </h3>
    </div>
    <div class="panel-body">
        <table id="alias_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Alias</th><th>Namespace</th><th>Type</th></tr>
            </thead>
            <tbody>
                {% for alias in ta_alias.all %}
                <tr>
                    <td>{{ alias.alias }}</td>
                    <td>{{ alias.namespace }}</td>
                    <td>{{ alias.alias_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% if num_assoc_ta != 0 %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Associated Threat Actors
            <i class="fa fa-question-circle fa-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="List of other threat actors associated with this one."></i>
        </h3>
    </div>
    <div class="panel-body">
        <table id="assoc_table" class="table table-condensed table-borderless" style="font-size: 0.9em;">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
            <img src="{% static 'images/Threat Actor.svg' %}" height="64" class="media-object" />
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ ta.name }}</h2>Threat Actor ID: {{ ta_id }}
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
{% if ta %}
{% spaceless %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ ta.name }}</h3>
    </div>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr>
                <td align="right"><b>Namespace</b></td>
                <td>{{ ta.namespace }}</td>
            </tr>
            <tr>
                <td align="right"><b>Type</b></td>
                <td>{{ ta_type }}</td>
                <td align="right"><b>Role</b></td>
                <td>{{ ta_roles }}</td>
            </tr>
            <tr>
                <td align="right"><b>Import Time</b></td>
                <td>{{ ta.creation_time }}</td>
                <td align="right"><b>Modified Time</b></td>
                <td>{{ ta.last_modified }}</td>
            </tr>
            <tr>
                <td align="right"><b>Threat Actor ID</b></td>
                <td>{{ ta.threat_actor_id }}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
        <pre class="pre-scrollable wrapdiv">{{ ta.description }}</pre>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Intelligence Information</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if tab == 'campaigns' %}class="active"{% endif %}>
                    <a href="#campaigns" aria-controls="campaigns" role="tab" data-toggle="tab">
                        <img src="{% static 'images/Campaign.svg' %}" height="32" />&nbsp;&nbsp;Campaigns
                        <span class="badge">{{ num_campaigns }}</span>
                    </a>
                </li>
                <li role="presentation" {% if tab == 'ttps' %}class="active"{% endif %}>
                    <a href="#ttps" aria-controls="ttps" role="tab" data-toggle="tab">
                        <img src="{% static 'images/TTP.svg' %}" height="32" />&nbsp;&nbsp;TTPs
                        <span class="badge">{{ num_ttps }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {% if tab == 'campaigns' %}active{% endif %}" id="campaigns">
                <br/>
                <table id="campaigns_table" class="table table-condensed" style="font-size: 0.9em;">
                <thead>
                    <tr><th>Name</th><th>Confidence</th><th>Status</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane {% if tab == 'ttps' %}active{% endif %}" id="ttps">
                <br/>
                <table id="ttps_table" class="table table-condensed" style="font-size: 0.9em;">
                    <thead>
                        <th>Name</th><th>Short Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endif %}
{% endblock %}

{% block javascript%}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
        var pTable = $('#campaigns_table').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No linked campaigns found ...",
                sZeroRecords: "No linked campaigns found ...",
                sEmptyTable: "No linked campaigns found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/threatactors/{{ ta_id }}/campaigns/.json",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:campaign' campaign_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'confidence', 'sName': 'confidence', 'aTargets': [ 2 ]},
                {'data': 'status', 'sName': 'status', 'aTargets': [ 3 ]},
            ],
        });
    });

$(document).ready( function () {
        var pTable = $('#ttps_table').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No linked ttps found ...",
                sZeroRecords: "No linked ttps found ...",
                sEmptyTable: "No linked ttps found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/threatactors/{{ ta_id }}/observed_ttps/.json",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:ttp' ttp_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                },
                {'data': 'short_description', 'sName': 'Short Description', 'aTargets': [ 2 ]},
            ],
        });
    });

$(document).ready( function () {
        var pTable = $('#assoc_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No associated threat actors found ...",
                sZeroRecords: "No associated threat actors found ...",
                sEmptyTable: "No associated threat actors found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/threatactors/{{ ta_id }}/associated/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:threatactor' threat_actor_id=0 %}".replace(0, Number(full.threatactor_id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
    });

$(document).ready( function () {
        var pTable = $('#linked_packages_table').DataTable({
            ordering: false,
            paging: false,
            info: false,
            filter: false,
            processing: true,
            serverSide: true,
            oLanguage: {
                sProcessing: "<img src='{% static 'images/loading.gif' %}'>",
                emptyTable: "No linked packages found ...",
                sZeroRecords: "No linked packages found ...",
                sEmptyTable: "No linked packages found ...",
            },
            order: [[ 0, "desc" ]],
            ajax: {
                processing: true,
                url: "/api/threatactors/{{ ta_id }}/related_packages/",
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: [
                {
                    'data': 'name', 
                    'sName': 'name', 
                    'aTargets': [ 1 ],
                    'mRender': function (data, type, full) {
                        var view_url = "{% url 'intel:package' package_id=0 %}".replace(0, Number(full.id));
                        return '<a href="'+view_url+'">'+data+'</a>';
                    }
                }
            ],
        });
});



$(function () {
    $('[data-toggle="popover"]').popover()
});

</script>


{% endblock %}
